html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    width: 1440px;
    font-family: 'font', sans-serif;
}
.flex{
    display: flex;
}
.container{
    width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
.section_title{
    margin: 0;
    /*margin-bottom: 22px;*/
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    /*color: #1C1C1C;*/
}
.section_de{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn{
    width: 153px;
    height: 56px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
}




.header{
    /*min-width: 1440px;*/
    background-color: black;
    color: white;
    height: 80px;
    text-transform: uppercase;
    /*margin-left: 240px;*/
    align-items: center;
}
.header_container{
    align-items: center;
}
.header_logo{
    margin: 0;
    margin-right: auto;
    margin-left: 40px;
    /*margin-top: 4px;*/
}
.header_nav{
    margin-right: 40px;
}
.header_list{
    margin-right: 279px;
    padding: 33px 0px;
    list-style: none;
    text-align: center;
}
.header_list_item:not(:last-child){
    margin-right: 40px;
}
.header_lists {
    margin-right: 40px;
    padding: 33px 0px;
    list-style: none;
    text-align: center;
}
.header_item:not(:last-child){
    margin-right: 40px;
}
.header_btn{
    padding: 0;
    margin: 0;
    margin-top: 12px;
    border: none;
    background-color: white;
    cursor: pointer;
}

/*hero*/
.hero{
    color: white;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    height: 720px;
}
.hero_list{
    /*padding-top: 93px;*/
    list-style: none;
    text-transform: uppercase;
    padding-left: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
/*.hero_content{
    max-width: 50%;
}*/
.hero_list_item{
    margin-right: 49px;
    margin-top: 93px;
}
.hero_title{
    margin: 0;
    margin-top: 12px;
    margin-right: 901px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
}
.hero_de{
    margin: 0;
    margin-left: 40px;
    margin-right: 900px;
    margin-top: 22px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.hero_btn{
    margin:0;
    margin-left: 40px;
    margin-top: 46px;
}

/*all-in-one*/
.all-in-one{
    background: #F2F2F2;
}
.header_logo_2{
    margin: 0;
    margin-left: 40px;
    margin-top: 45px;
}
.all_title{
    text-align: center;
    margin-bottom: 22px;
}
.all_de{
    text-align: center;
    margin: 0 435px 77px;
}
.all_items{
    margin: 0 40px;
}
.all_item:not(:last-child){
    margin-right: 40px;
}
.all_item_title{
    margin: 0;
    margin-top: 39px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}
.all_item_de{
    margin:0;
    margin-top: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 77px;
}

/*piano*/
.piano{
    color: white;
    background-image: url(../img/2.jpg);
    background-repeat: no-repeat;
    height: 480px;
}
.piano_title{
    text-align: center;
    padding-top: 125px;
    margin: 0 555px;
}
.piano_de{
    text-align: center;
    margin: 22px 519px;
   /* margin-top: 22px;*/
}
.piano_a{
    margin: 0 43%;
    /*text-align: center;*/
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

/*exclusive*/
.exclusive{
    background: #60777C;
    color: white;
    align-items: center;
}
.exclusive_title{
    padding-top: 80px;
    margin: 0 30%;
    
}
.exclusive_de{
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 22px 27% 120px;
}
.exclusive_list{
    padding-bottom: 120px;
}
.exclusive_item{
    /*margin-bottom: 120px;*/
    align-items: center;
}
.ex_item_title{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 22px;
    margin-left: 40px;
}
.ex_item_de{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-left: 40px;
}
.ex_ot{
    padding-left: 157px;
}


/*protect*/
.protect_text{
    padding-left: 157px;
}
.protect_img{
    margin-left: 40px;
}
.pro_title{
    max-width: 325px;
    margin-top: 186px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 22px;
}
.pro_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

/*member*/
.member{
    background: #60777C;
    color: #F2F2F2;
}
.mem_cont{
    padding: 80px 40px 117px;
}
.mem_text{
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin-right: 157px;
}
.mem_name{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 190px;
}
.mem_href{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.27);
    margin-top: 10px;
}


/*member*/
.pick_title{
    /*margin-top: 80px;*/
    margin: 80px 29% 0;
}
.pick_de{
    /*margin-top: 22px;*/
    margin: 22px 25%;
    text-align: center;
}



/*how_start*/
.how_start{
    background: black;
    color: white;
}
.how_cont{
    padding: 80px 40px 77px;
}
.how_title{
    margin-bottom: 29px;
}
.how_list{
    list-style-type: decimal-leading-zero;
    color: white;
}
.how_item:not(:last-child){
    margin-bottom: 27px;
}
.how_get{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}



/*plans*/
.plans_title{
    margin-left: 40px;
    margin-top: 80px;
}
.plans_de{
    margin-left: 40px;
    margin-top: 22px;
}




/*questions*/
.questions{
    background: black;
    color: white;
}
.ask_title{
    padding-top: 75px;
    text-align: center;
}
.ask_list{
    margin: 0 25%;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-top: 70px;
    padding-bottom: 80px;
}
.ask_item{
    padding: 24px 0;
    align-items: center;
    list-style: none;
    background-image: url(../img/+.svg);
    background-repeat: no-repeat;
    background-position: right;
    /*padding-bottom: 48px;*/
    /*border-top: 1px solid white;*/
    border-bottom: 1px solid #CACACA4D;
}
.ask_item:first-child{
    border-top: 1px solid #CACACA4D;
}



/*customer*/
.customer{
    background: black;
    color: white;
    padding: 80px 40px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.5);;
}
/*.cus_img{
    padding: 80px 0;
    margin-left: 40px;
}*/
.cus_cont{
    margin-left: 157px;
    margin-top: 200px;
    max-width: 538px;
}
.cus_text{
    margin-top: 22px;
}
.cus_href{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.cus_item:not(:first-child){
    margin-top: 19px;
}


/*start-free*/
.start-free{
    background: black;
    color: white;
    padding: 75px 40px 80px;
}
.start_title{
    max-width: 55%;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}
.start_free_btn{
    width: 196px;
    margin-left: 370px;
}


/*footer*/
.footer{
    border-top: 1px solid #CACACA4D;
    background-color: #000000;
    color: #FFFFFF;
}
.footer_container{
    padding: 115px 40px 99px 40px;
}

.footer_logo{
    margin-right: 195px;
}

.footer_descr, .footer_descr_g{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.footer_en{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_logo_1{
    margin-bottom: 38px;
}

.footer_en{
    background-color: #1A1A1A;
    padding: 17px 70px 17px 19px;
    margin-bottom: 12px;
    background-image: url(../img/↓.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 90%;
}

.footer_item{
    display: block;
    margin-right: 63px;
    margin-bottom: 9px;
    min-width: 153px;
}

.footer_descr_g{
    display: block;
    padding-bottom: 26px;
}